html, 
body, 
#root {
  background-image: linear-gradient(to bottom, #ffffff, #ffddfa, #ffb5cf, #ff9380, #eb8b12);
  background-attachment: fixed;
  background-size: cover;
}

.app {
  position: relative;
  overflow: auto;
  padding: 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #ffffff; */
}

.header .logo {
  background-image: url("./assets/storeo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 70px;
}

/* Home Page */

.home {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overflow: hidden; */
}

canvas {
  height: 100vh !important;
}

.picker {
  position: absolute !important;
  /* top: 74px; */
  left: 70px;
  width: 90px !important;
  height: 90px !important;
}